* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    scroll-behavior: smooth;
}

.flexCenter { display: flex; justify-content: center; align-items: center; }
.flexCenterColumn { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.imgs { width: 100%; height: 100%; object-fit: contain; }
.cover { object-fit: cover; }
#imgsRadius { width: 100%; height: 100%; object-fit: contain; border-radius: 100%; }

/* FONTS */
@font-face {
    font-family: "Cardo", sans-serif;
    src: url(./fonts/Cardo/Cardo-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Karla", sans-serif;
    src: url(./fonts/Karla/static/Karla-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}


/* ROOT */
:root {
    --heading: "Cardo", sans-serif;
    --text: "Karla", sans-serif;
    --title-Font-Size: 0.60rem;
    --desc-Font-Size: 0.55rem;
    --headingLetterSpacing: 0.5px;
    
    --content-border-radius: 1.05rem;
    --content-border-radiusII: 0.55rem;
    --pillPadding: 6px 15px;
    --boxShadow: 3px 3px 12px -6px rgba(0,0,0,0.75);

    --white: #F3F4F4;
    --lighterBlack: #40464f;
    --black: #393E46;
    --dark: #2C2C2C;
    --green: #8FA28A;
    --paleYellow: #FDF0D5;
    --yellow: #FFDD9C;
    --red: #E63946;

    --blackOutline: #464858;

    --paddingGeneral: 3.5rem 3rem 1rem;
}

/* CLASSES + STYLES */
.green {    
    color: var(--green);
}

.yellow {
    color: var(--paleYellow);
}

.red {
    color: var(--red);
}

h2 {
    font-family: var(--text);
}

body {
    background-color: var(--dark);
}

#favicon {
    border-radius: 50%;
}

.popup {
    position: fixed;
    inset: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 99;
}

.popup-content {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background: var(--black);
    border-radius: var(--content-border-radius);
    text-align: center;
    box-sizing: border-box;
}

#popup_heading {
    position: relative;
    font-family: var(--heading);
    letter-spacing: var(--headingLetterSpacing);
    margin-bottom: -1.2rem;
    font-size: 20px;
    border-radius: 24px;
    background-color: var(--black);
    padding: 8px 22px;
    border: 2.5px solid var(--blackOutline);
    color: var(--white);
    box-shadow: var(--boxShadow);
}

.popup-content-paragraph p {
    text-align: justify;
    text-align-last: center;
}

p {
    font-family: var(--text);
    line-height: 1.5;
    color: var(--white);
}

/* HEADER */

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--paddingGeneral);
    /* height: 40vh; */
    /* border: 2px solid wheat; */
}

.header {
    width: 100%;
    height: 100%;
    /* box-shadow: var(--boxShadow); */
    /* border: 2px solid wheat; */
}

.header img { 
    border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;
}

.profile-header {
    display: flex;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: -4rem;
    margin-left: 2rem;
    border: 0.5rem solid var(--black);
    border-radius: 100%;
    z-index: 2;
}

#miraIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-top: -3.8rem;
    padding: 2rem 3rem 2rem;
    background-color: var(--black);
    border-radius: 0 0 var(--content-border-radius) var(--content-border-radius);
    box-shadow: var(--boxShadow);
    /* border: 2px solid wheat; */
    /* height: 30px; */
}

.header-profile-name {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--heading);
    letter-spacing: var(--headingLetterSpacing);
    margin-top: -3.5rem;
    margin-left: 7.5rem;
    /* font-size: 20px; */
    border-radius: 24px;
    background-color: var(--black);
    padding: 8px 22px;
    border: 2.5px solid var(--blackOutline);
    color: var(--white);
    box-shadow: var(--boxShadow);
}

.header-contents {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}

.header-content-title {
    font-size: var(--title-Font-Size);
    text-align: center;
}

.header-content-detail p {
    font-size: var(--desc-Font-Size);
}

.block {
    justify-content: center;
    width: calc(100%/3 - 2px);
}

.header-navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -2rem;
}

.header-comment-wrapper, .navigation-wrapper {
    width: calc(100%/2 - 0px);
    /* border: 2px solid wheat; */
}

.header-comment-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-comment-wrapper p {
    padding: 3px 22px;
}

.header-comment-wrapper img {
    width: 70px;
    height: 70px;
    border: 6px solid var(--black);
    border-radius: 100%;
    box-shadow: var(--boxShadow);
}

.comment {
    position: relative;
    background: var(--black);
    border: 2px solid var(--blackOutline);
    border-radius: var(--content-border-radius);
    padding: 2px 4px;
    color: black;
    margin-right: 0rem;
    box-shadow: var(--boxShadow);
    /* border: 2px solid var(--blackOutline); */
}

/* NAVIGATION */

.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENT */
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: var(--paddingGeneral);
    gap: 3rem;
}

#detailsFamily-wrapper {
    width: calc(100%/2 - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-details-wrapper, .family-tree {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border-radius: var(--content-border-radiusII);
    box-shadow: var(--boxShadow);
    margin-bottom: 2rem;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--heading);
    letter-spacing: var(--headingLetterSpacing);
    border-radius: 24px;
    background-color: var(--black);
    padding: 8px 22px;
    margin-top: -1.35rem;
    margin-left: 7rem;
    border: 2.5px solid var(--blackOutline);
    color: var(--white);
    box-shadow: var(--boxShadow);
}

.content-title p, .family-title p {
    font-family: var(--text);
    letter-spacing: var(--headingLetterSpacing);
    font-size: var(--desc-Font-Size);
    /* box-shadow: var(--boxShadow); */
}

.content-image-wrapper {
    width: calc(100%/2 - 0px);
    box-shadow: var(--boxShadow);
}

.content-image-wrapper img {
    border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;
}

.content-image-details {
    position: relative;
    width: 100%;
    background-color: var(--black);
    height: 20vh;
    margin-top: -1.05rem;
}

#birthday {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.65rem 0 0.85rem 0;
}

#birthday:nth-child(1) {
    margin-top: 10px;
}

#birthday:nth-child(4) {
    margin-bottom: 10px;
}

.title {
    font-family: var(--text);
    font-size: var(--title-Font-Size);
    letter-spacing: var(--headingLetterSpacing);
    color: var(--paleYellow);
    padding: 0.2rem 0.9rem;
    border-radius: 3px;
    background-color: var(--lighterBlack);
    box-shadow: var(--boxShadow);
}

#birthday p:nth-child(2) {
    font-family: var(--text);
    font-size: var(--desc-Font-Size);
}

.family-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--heading);
    letter-spacing: var(--headingLetterSpacing);
    border-radius: 24px;
    background-color: var(--black);
    padding: 8px 22px;
    margin-top: -1.35rem;
    margin-left: 6rem;
    border: 2.5px solid var(--blackOutline);
    color: var(--white);
    box-shadow: var(--boxShadow);
}

.family-profiles {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    gap: 0.7rem;
}

.family-profiles img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1.5px solid var(--blackOutline);
    box-shadow: var(--boxShadow);
}

.roleName {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.family-profiles p {
    font-family: var(--text);
    font-size: var(--desc-Font-Size);
    color: var(--white);
}

#siblingTwo {
    margin-bottom: 8px;
}

.content-image-details {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.content-image-title {
    margin-top: 0.5rem;
}

.content-image-title p, .content-image-description p {
    font-family: var(--text);
    font-size: var(--title-Font-Size);
}

.img-container {
    overflow: hidden;
}

.img-container::after {
    content: "";
    position: relative;
    inset: 0;
    background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(20, 20, 25, 0.85) 100%
    );
    pointer-events: none;
}

/* RESPONSIVE */

/* Smaller screens */
@media (max-width: 425px) {
    .popup {
        padding: 35px;
    }

    .popup-content {
        padding: 26px;
        border-radius: 12px;
    }

    #popup_heading {
        font-size: 12px;
        padding: 4px 22px;
    }

    .popup-content h2 {
        font-size: 22px;
    }

    .popup-content p {
        font-size: 10px;
    }

    .profile-header {
        width: 80px;
        height: 80px;
        margin-top: -3.5rem;
        margin-left: 1rem;
    }

    .header-content {
        padding: 2rem 0.95rem 2rem;
        margin-top: -2.5rem;
    }

    .header-profile-name {
        padding: 6px 15px;
        margin-top: -3rem;
        margin-left: 5.8rem;
    }

    .header-profile-name p {
        font-size: 9px;
    }

    .header-navigation-wrapper {
        top: -1.3rem;
    }

    .header-comment-wrapper {
        gap: 0.65rem;
    }

    .header-comment-wrapper img {
        width: 40px;
        height: 40px;
        border: 3px solid var(--black);
    }

    .header-comment {
        font-size: 9px;
    }

    .header-comment-wrapper p {
        padding: 2px 14px;
    }

    /* CONTENT */

    .content-wrapper {
        padding: 1rem 3rem 1rem;
        gap: 1rem;
    }

    .content-title, .family-title {
        padding: var(--pillPadding);
        margin-top: -0.95rem;
        margin-left: 4rem;
    }

    #birthday:nth-child(1) {
        margin-top: 5px;
    }

    #birthday {
        gap: 0.68rem;
        padding: 0.4rem;
    }

    .title {
        padding: 0.2rem 0.7rem;
    }


}